*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background-image: linear-gradient(90deg,rgb(71, 135, 209),rgb(196, 106, 106));
}
body,.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 37.5rem;
  height: 37.5rem;
  perspective: 800;
  transform-style: preserve-3d;
}
.fries-pack{
  width: 23.75rem;
  height: 28.12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-style: preserve-3d;
}

.pack{
  height:60%;
  background-image:linear-gradient(to bottom, rgb(232, 41, 16), rgb(225, 119, 90));
  width: 160px ;
  transform-style: preserve-3d;
  transform: skew(10deg) translateX(-50px);
  border-left: 2px solid #2f1c1c3b;
}
.back{
  height: 3.75rem;
  width: 17rem;
  z-index: -2;
  position: absolute;
  left: 40%;
  transform: skewX(35deg) translate(-92%,150px);
 /* transform: rotate(90deg) translate(50px,-8px) skewY(-10deg);*/
  background-image:linear-gradient(to bottom, rgb(232, 41, 16), rgb(225, 119, 90))
}
.pack::after{
  content: "";
  width:10rem;
  height: 100%;
  position: absolute;
  transform: skew(-18deg) translateX(90px);
  background-image:linear-gradient(to bottom, rgb(232, 41, 16), rgb(225, 119, 90))
}
.pack::before{
  content: "";
  width:3.75rem;
  height: 100%;
  background-image:linear-gradient(to bottom, rgb(232, 41, 16), rgb(225, 119, 90));
  position: absolute;
  transform: skewY(30deg) translate(-55px,16px) rotateY(10deg);
}
.fries-pack::after{
  content: " ";
  width: 18.75rem;
  height:3.12rem;
  background-image:linear-gradient(to bottom, rgb(125, 29, 17), rgb(187, 88, 60));
  position: absolute;
  top:42%;
  transform-style: preserve-3d;
  transform: skewX(35deg) translate(-20px,-40px) rotateX(30deg);
  transform-origin: top;
  z-index: 3;
  animation: open 1s linear 3s;
  animation-fill-mode: forwards;
  
}
.fries-wrap{
  width: 23.75rem;
  height: 40%;
  display: flex;
  gap:5px;
  align-items: flex-end;
  position: relative;
  z-index: -1;
  top: 40%;
  transform: scale(0.5);
  animation: friesOut 0.6s linear 5s;
  animation-fill-mode: forwards;
}

@keyframes open{
  
  100%{
    z-index: -2;
    transform: skewX(35deg) translate(-20px,-40px) rotateX(180deg);
  }
}

@keyframes friesOut{
  100%{
    top: 0%;
    transform: scale(1);
  }
}
.fries{
  height: 100%;
  width: 1.87rem;
  background-image: linear-gradient(to top,#e7c60d,rgb(238, 236, 212));
  box-shadow: -8px 0px 2px rgb(232, 196, 108),
              inset -5px 0px 2px rgb(214, 197, 153);
  position: relative;
  z-index: 0;
}

.fries:nth-child(8),.fries:nth-child(12){
  height: 80%;
  transform: skew(-20deg) translate(8px,20px);
  
}
.fries:nth-child(7),.fries:nth-child(10){
  transform: skew(-15deg) translate(10px, 30px);
}
.fries:nth-child(6){
  height: 140px;
  transform: skew(-5deg) translate(-5px,5px);
}
.fries:nth-child(6)::after{
  content: " ";
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0;
  transform: skew(-5deg) translateX(12px);
  background-image: linear-gradient(to top,#e7c60d,rgb(238, 236, 212));
  box-shadow: -8px 0px 0 rgb(221, 178, 68);
}
.fries:nth-child(5){
  transform: skew(-5deg) translateY(5px);
}
.fries:nth-child(4),.fries:nth-child(10){
  height: 140px;
  transform: skew(8deg) translateY(5px);
}
.fries:nth-child(4)::after{
  content: " ";
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
  transform: skew(12deg) translateX(-10px);
  background-image: linear-gradient(to top,#e7c60d,rgb(238, 236, 212));
  box-shadow: -8px 0px 0 rgb(221, 178, 68);
}
.fries:nth-child(1)::after{
  content: " ";
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
  transform: skew(12deg) translateX(-10px);
  background-image: linear-gradient(to top,#e7c60d,rgb(238, 236, 212));
  box-shadow: -8px 0px 0 rgb(221, 178, 68);
}
.fries:nth-child(2),.fries:nth-child(9){
  height: 7.5rem;
  transform: skew(10deg) translate(8px,5px);
}
.fries:nth-child(9){
  left: -10%;
}
.fries:nth-child(10){
  left: -10%;
}
.fries:nth-child(1){
  transform: skew(12deg) translate(-6px,10px);
}

.fries:nth-child(3){
  transform: skew(10deg) translateY(20px);
}
.fries:nth-child(2)::after{
  content: " ";
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
  transform: skew(12deg) translateX(-10px);
  background-image: linear-gradient(to top,#e7c60d,rgb(238, 236, 212));
  box-shadow: -8px 0px 0 rgb(221, 178, 68);
}
.text{
  position: absolute;
  top: 50%;
  font-size: 60px;
  font-family: cursive;
  color: #e7c60d;
}